# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Tarballs/compressed files
*.zip
*.tar
*.tar.gz
*.tar.bz2

# External libraries
Gecko_SDK
gcc-arm-none-eabi-5_4-2016q2

# Patched linker file
tomu.ld
